<app-nav></app-nav>
<br>
<br>
<div id="space"></div>
<form class="form-assign-quiz" (submit)="newQtoU()">
    <h1>Assign Quiz</h1>
    <h2>User Id</h2>
    <input type="number" id="inputUserId" name="input-user-id" class="form-control" placeholder="101" required
        autofocus [(ngModel)]="qtous.user_id">

    <h2>Quiz Id</h2>
    <input type="number" id="inputQuizId" name="input-quiz-id" class="form-control" placeholder="1" required
        autofocus [(ngModel)]="qtous.quiz_id">

    <p id="error-message">{{errorMessage}}</p>
    
    <button type="submit">Assign Quiz</button>

    <p>{{qtous.user_id}}</p>
    <p>{{qtous.quiz_id}}</p>
</form>
<br>
<h1>Users</h1>
<table class="table" id="quiz-table">
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody id="users-table-body">
        <tr *ngFor="let user of users">
            <td>{{user.user_id}}</td>
            <td>{{user.username}}</td>
        </tr>
    </tbody>
</table>
<br>
<h1>Quizzes</h1>
<table class="table" id="quiz-table">
    <thead>
        <tr>
            <th scope="col">Quiz Id</th>
            <th scope="col">Quiz Title</th>
            <th scope="col">Quiz Description</th>
        </tr>
    </thead>
    <tbody id="quiz-table-body">
        <tr *ngFor="let quiz of quizzes">
            <td>{{quiz.quiz_id}}</td>
            <td>{{quiz.quiz_title}}</td>
            <td>{{quiz.quiz_description}}</td>
        </tr>
    </tbody>
</table>
<br>
<h1>Assigned Quizzes</h1>
<table class="table" id="assigned-quiz-table">
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Quiz Id</th>
            <th scope="col">Quiz Title</th>
            <th scope="col">Quiz Description</th>
        </tr>
    </thead>
    <tbody id="assigned-quiz-table-body">
        <tr *ngFor="let aqtou of aqtous">
            <td>{{aqtou.user_id}}</td>
            <td>{{aqtou.quiz_id}}</td>
            <td>{{aqtou.quiz_title}}</td>
            <td>{{aqtou.quiz_description}}</td>
        </tr>
    </tbody>
</table>
