<div id="nav">
    <ul class="nav-blocks">
        <li class="nav-item">QuizApp</li>
        <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
        <li>
            <div class="dropdown">
            <button class="dropbtn">Create</button>
            <div class="dropdown-content">
              <a routerLink="/quiz">Quiz</a>
              <a routerLink="/question">Question</a>
            </div>
          </div>
        </li>
        <li>
            <div class="dropdown">
            <button class="dropbtn">Assign</button>
            <div class="dropdown-content">
              <a routerLink="/qtou">Quiz to User</a>
              <a routerLink="/qutoq">Question to Quiz</a>
            </div>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="">Logout</a></li>
    </ul>
</div>
