<app-nav></app-nav>
<br>
<br>
<div id="space"></div>
<form class="form-question-creation" (submit)="newQA()">
    <h1>Question Creation</h1>
    <input type="text" id="inputQuestDesc" name="input-question-desc" class="form-control" placeholder="Question Description" required
        autofocus [(ngModel)]="qas.question_description">

    <input type="text" id="inputQuestResp1" name="input-quest-resp1" class="form-control resp" placeholder="Question Response1"
        required [(ngModel)]="qas.question_response_1">
    <input type="text" id="inputQuestResp2" name="input-quest-resp2" class="form-control resp" placeholder="Question Response2"
        required [(ngModel)]="qas.question_response_2">
    <input type="text" id="inputQuestResp3" name="input-quest-resp3" class="form-control resp" placeholder="Question Response3"
        required [(ngModel)]="qas.question_response_3">
    <input type="text" id="inputQuestResp4" name="input-quest-resp4" class="form-control resp" placeholder="Question Response4"
        required [(ngModel)]="qas.question_response_4">

    <input type="text" id="inputAnswer" name="input-answer" class="form-control resp" placeholder="Question Answer"
        required [(ngModel)]="qas.answer">


    <p id="error-message">{{errorMessage}}</p>
    
    <button type="submit">Create Question</button>

    <p>{{qas.question_description}}</p>
    <p>{{qas.question_response_1}}</p>
    <p>{{qas.question_response_2}}</p>
    <p>{{qas.question_response_3}}</p>
    <p>{{qas.question_response_4}}</p>
    <p>{{qas.answer}}</p>
</form>
